@model DormitoryManager.Models.Entities.Dormitory

<div>
    <h4>Гуртожиток №@Model.DormNumber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DormNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DormNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floors)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDormitory" asp-route-id="@Model?.Id">Редагувати дані</a> |
    <a asp-action="Dormitories">Назад до списку</a>
</div>
