@model DormitoryManager.Models.Entities.Dormitory

<div>
    <h4>Гуртожиток №@Model.DormNumber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Номер гуртожитка
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DormNumber)
        </dd>
        <dt class = "col-sm-2">
            Адреса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Кількість поверхів
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floors)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Dashboard" asp-action="EditDormitory" asp-route-id="@Model.Id" class="btn btn-block btn-warning btn-sm">Редагувати</a>
    <a asp-controller="Dashboard" asp-action="Rooms" asp-route-dormId="@Model.Id" class="btn btn-block btn-info btn-sm">Кімнати</a>
</div>
