@using DormitoryManager.Models.DTO_s.Student;
@model StudentsDto
<section class="min-vh-100 mb-8">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-5 col-md-7 ">
                <div class="card z-index-0 mt-4">
                    <div class="text-center pt-4">
                        <h5>Перегляд інформації про студента</h5>
                    </div>
                    <div class="center card-body">
                        <div>
                            @if (!string.IsNullOrEmpty(Model.PhotoString))
                            {
                                <img src="@Model.PhotoString" alt="Student Photo" style="max-width: 200px; max-height: 200px;">
                            }
                            @if (!string.IsNullOrEmpty(Model.ApplicationScanString))
                            {
                                <img src="@Model.ApplicationScanString" alt="Student Document" style="max-width: 200px; max-height: 200px;">
                            }

                            <p><strong>ПІБ:</strong> @Model.StudentName @Model.StudentMiddlename @Model.StudentLastname</p>
                            <p><strong>Дата народження:</strong> @Model.DateOfBirth.ToShortDateString()</p>
                            <p><strong>Стать:</strong> @Model.Gender</p>
                            <p><strong>Номер телефону:</strong> @Model.StudentPhone</p>
                            <p><strong>Електрона пошта:</strong> @Model.StudentEmail</p>
                            <p><strong>Факультет:</strong> @Model.FacultyName</p>
                            <div class="mb-3">
                                <label asp-for="DormitoryId"><strong>Номер гуртожитку:</strong></label>
                                <select asp-for="DormitoryId" id="DormitoryId" class="form-control">
                                    @foreach (var dorm in ViewBag.Dormitories)
                                    {
                                        <option value="@dorm.Id">@dorm.DormNumber</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="RoomId"><strong>Номер кімнати:</strong></label>
                                <select asp-for="RoomId" id="RoomId" class="form-control">
                                    @foreach (var room in ViewBag.Rooms)
                                    {
                                        <option value="@room.Id">@room.NumberOfRoom</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>