@using Microsoft.AspNetCore.Identity;
@using DormitoryManager.Models.DTO_s.Student;
@using DormitoryManager.Models.Entities;
@model List<StudentsDto>
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var email = await UserManager.GetEmailAsync(user);
}
@{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Список поселених студентів</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ПІБ</th>
                                        <th>Спеціальність</th>
                                        <th>Дія</th
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StudentLastname @item.StudentName @item.StudentMiddlename</td>
                                            <td>@item.FacultyName</td>
                                            @if (@User.IsInRole("Administrator") && item.StudentEmail != email)
                                            {
                                                <td>
                                                    <a asp-controller="Dashboard" asp-action="GetSettlStudent" asp-route-id="@item.Id" class="btn btn-block btn-warning btn-sm">Переглянути</a>
                                                    <a asp-controller="Dashboard" asp-action="DeleteFromSettl" asp-route-id="@item.Id" class="btn btn-block btn-danger btn-sm">Видалити</a>
                                                </td>
                                            }
                                            @if (@User.IsInRole("Dekanat") || @User.IsInRole("Komendant") && item.StudentEmail != email)
                                            {
                                                <td><a asp-controller="Dashboard" asp-action="GetSettlStudent" asp-route-id="@item.Id" class="btn btn-block btn-warning btn-sm">Переглянути</a></td>
                                            }
                                        </tr>
                                        <tr>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<!-- /.content -->
