@model DormitoryManager.ViewModel.RoomsViewModel



<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Додати</h3>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"/>
                            <form asp-action="CreateRoom" method="post">
                                <div style="align-items: center; display: flex;">
                                <div class="form-group" style="margin: 10px;">
                                    <label>Номер кімнати</label>
                                    <input asp-for="Room.NumberOfRoom" min="100" class="form-control"  />
                                </div>
                                <div class="form-group" style="margin: 10px;">
                                    <label>Кількість ліжкомісць</label>
                                    <input asp-for="Room.NumberOfBeds" min="2" class="form-control" />
                                </div>
                                    <div class="form-group" style="margin: 10px;">
                                        <label>Поверх</label>
                                        <input asp-for="Room.Floor" min="1" class="form-control" />
                                    </div>

                                <div class="form-group" style="margin: 10px;">
                                    <label>Стать проживаючих</label>
                                        <select asp-for="Room.ResidentsGender" class="form-control select2" style="width: 100%;">
                                            <option value="Чоловіча">Чоловіча</option>
                                            <option value="Жіноча">Жіноча</option>
                                        </select>
                                </div>
                                     <div class="form-group" style="margin: 10px;">
                                        
                                        <input hidden="True" asp-for="Room.DormId" value ="@Model.dormitoryId" class="form-control" />
                                        <input hidden="True" asp-for="Room.FreeBeds" value="Room.NumberOfBeds" class="form-control" />
                                    </div> 
                                </div>
                                <div>
                                    @if (@ViewBag.RoomError != null) {
                                        <span class="text-danger mt-3">@ViewBag.RoomError</span>
                                    }
                                </div>
                                <div class="form-group" style="margin: 10px;">
                                    <input  style="margin-top: 10px;" value="Додати" type="submit" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>

<div class="content-wrapper" style="margin-top: 20px;>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Кімнати</h3>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Номер Кімнати</th>
                                        <th>Кількість ліжкомісць</th>
                                        <th>Поверх</th>
                                        <th>Стать проживаючих</th>
                                        <th>Дія</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Rooms) {
                                        <tr>
                                            <td>
                                                @item.NumberOfRoom
                                            </td>
                                            <td>
                                                @item.NumberOfBeds
                                            </td>
                                            <td>
                                            @item.Floor
                                            </td>
                                            <td>
                                                @item.ResidentsGender
                                            </td>                                            
                                            <td>
                                                <a asp-controller="Dashboard" asp-action="RoomDetail" asp-route-id="@item.Id" class="btn btn-block btn-info btn-sm">Деталі</a>
                                                <a asp-controller="Dashboard" asp-action="DeleteRoom" asp-route-id="@item.Id" class="btn btn-block btn-danger btn-sm">Видалити</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}