@using Microsoft.AspNetCore.Identity;
@using DormitoryManager.Models.Entities;
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DormitoryManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DormitoryManager.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">DormitoryManager</a>
                @if (user.DormId != null)
                {
                    <div>@user.LastName @user.FirstName <div>Роль: Комендант</div></div>
                }
                else if (user.FacultyId != null)
                {
                    <div>@user.LastName @user.FirstName <div>Роль: Працівник деканату</div></div>
                }
                else
                {
                    <div>@user.LastName @user.FirstName <div>Роль: Адміністратор</div></div>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form method="post" asp-action="Logout">
                                <button type="submit" class="btn btn-outline-danger">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar">
                    <ul>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Create") ? "active" : "")"
                                   asp-action="Create">Створити корисувача</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Users") ? "active" : "")"
                                   asp-action="Users">Користувачі</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Faculties") ? "active" : "")"
                                   asp-action="Faculties">Факультети</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Dormitories") ? "active" : "")"
                                   asp-action="Dormitories">Гуртожитки</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Reports") ? "active" : "")"
                                   asp-action="Reports">Звітність</a>
                            </li>
                        }
                        else if (User.IsInRole("Dekanat"))
                        {
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "GetAll") ? "active" : "")"
                                   asp-action="GetAll">Список поселених студентів</a>
                            </li>

                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Requests") ? "active" : "")"
                                   asp-action="Requests">Заявки на поселення</a>
                            </li>

                        }
                        else if (User.IsInRole("Komendant"))
                        {
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "GetAll") ? "active" : "")"
                                   asp-action="GetAll">Список поселених студентів</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "InProgress") ? "active" : "")"
                                   asp-action="InProgress">Заявки на поселення</a>
                            </li>
                            <li class="nav-item">
                                <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "GetAllRooms") ? "active" : "")"
                                   asp-action="GetAllRooms">Кімнати</a>
                            </li>
                        }

                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
